* {
    padding: 0px;
    margin: 0px;
}

.kitchen-names {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5px;
    font-size: 10px;
    width: 920px;
    background-color: wheat;
}

.fridge {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ingredients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 10px;
    background-color: wheat;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
}

.ingredients-titel {
    background-color: wheat;
    font-size: 12px;
    width: 300px;
    text-align: center;
}

.region {
    margin-top: 5px;
    margin-left: 5px;
}

.error {
    color: red;
    margin-left: 5px;
}