* {
    padding: 0px;
    margin: 0px;
}

.button-design {
    border: solid gray;
    background-color: white;
}

.button-design:hover {
    cursor: pointer;
    border: solid green;
    text-decoration-color: green;
    color: green;
}