* {
    padding: 0px;
    margin: 0px;
}

.button-design {
    margin-left: 5px;
    border: none;
    background-color: white;
}

.button-design:hover {
    cursor: pointer;
    border: none;
    text-decoration-color: green;
    color: green;
}





